<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DoorStateXML" value="C:\Program Files (x86)\LexaMar Corporation\Door Interface Control\Resources\DoorState.xml" />
    <add key="APIWebURL" value="http://lex-isonas01svr.magna.global/"/>
    <add key="APIUsername" value ="91A815A868631E8F"/>
    <add key="APIPassword" value="9115F35D841D714242244115EA30C675857DC55C3856D8C3C5E1A4B42E47F7A"/>
    <add key="LDAPPath" value="LDAP://lexmsdc41.magna.global/OU=LEX - Lexamar,OU=America,OU=Exteriors,OU=Magna Group,DC=magna,DC=global" />
    <add key="LDAPUsername" value="magna\LEXLDAPSVR.admin" />
    <add key="LDAPPassword" value="NT5lcladmn159" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>